<div>
    <h1 style="color:red">Hello,i come from index view</h1>
    @ViewBag.TimeInfo
    <a href="/register/index">Go to Register Index</a>
    <a href="/home/download">download image</a>
    <a href="/home/list">Check Friends List</a>
</div>
