<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<div class="container">
    @if (ViewBag.Info != null)
    {
        <div>
            <h1>@ViewBag.Info</h1>
        </div>
    }
    <form action="/Employee/SendInList" method="post">
        <div>
            <h1>Employee Info 1</h1>
            <div class="mb-3">
                <label for="Id" class="form-label">Id</label>
                <input type="text" class="form-control" name="Id">
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="FirstName">
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="LastName">
            </div>
        </div>
        <div>
            <h1>Employee Info 2</h1>
            <div class="mb-3">
                <label for="Id" class="form-label">Id</label>
                <input type="text" class="form-control" name="Id">
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="FirstName">
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="LastName">
            </div>
        </div>
        <div>
            <h1>Employee Info 3</h1>
            <div class="mb-3">
                <label for="Id" class="form-label">Id</label>
                <input type="text" class="form-control" name="Id">
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="FirstName">
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="LastName">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


